#define ACTUATORS 1
#define AHRS_ALIGNER_LED 5
#define AHRS_CORRECT_FREQUENCY 200
#define AHRS_PROPAGATE_FREQUENCY 200
#define AHRS_TYPE_H "subsystems/ahrs/ahrs_int_cmpl_quat.h"
#define ARDRONE2_RAW 1
#define BOARD_CONFIG "boards/ardrone2_raw.h"
#define DATALINK PPRZ
#define DOWNLINK 1
#define DOWNLINK_DEVICE udp0
#define DOWNLINK_TRANSPORT pprz_tp
#define DefaultPeriodic &telemetry_Main
#define GIT_DESC v5.4.1_stable-8-gcad54f8-dirty
#define GIT_SHA1 cad54f8c4e7b1b765a1d25ce3ee1b66aa7d9c3ba
#define GPS_LED 3
#define GPS_LINK UART1
#define GPS_TYPE_H "subsystems/gps/gps_ubx.h"
#define GPS_UBX_UCENTER 1
#define IMU_TYPE_H "subsystems/imu/imu_ardrone2_raw.h"
#define INS_TYPE_H "subsystems/ins/ins_int.h"
#define PERIODIC_FREQUENCY 512
#define PERIODIC_TELEMETRY 1
#define PERIPHERALS_AUTO_INIT 1
#define PPRZ_UART UDP0
#define PPRZ_VER 
#define PPRZ_VER_MAJOR 5
#define PPRZ_VER_MINOR 4
#define PPRZ_VER_PATCH 1
#define RADIO_CONTROL 1
#define RADIO_CONTROL_LED 6
#define RADIO_CONTROL_TYPE_DATALINK 1
#define RADIO_CONTROL_TYPE_H "radio_control/rc_datalink.h"
#define STABILIZATION_ATTITUDE_TYPE_H "stabilization/stabilization_attitude_quat_int.h"
#define STABILIZATION_ATTITUDE_TYPE_INT 1
#define SYS_TIME_LED 0
#define UART1_BAUD B57600
#define UART1_DEV "/dev/ttyUSB0"
#define UDP0_BROADCAST TRUE
#define UDP0_HOST "192.168.1.255"
#define UDP0_PORT_IN 4243
#define UDP0_PORT_OUT 4242
#define USE_AHRS 1
#define USE_AHRS_ALIGNER 1
#define USE_GPS 1
#define USE_IMU 1
#define USE_LED 1
#define USE_LINUX_SIGNAL 1
#define USE_MAGNETOMETER 1
#define USE_MOTOR_MIXING 1
#define USE_NAVIGATION 1
#define USE_SONAR TRUE
#define USE_UART1 1
#define USE_UDP 1
#define USE_UDP0 1
#define USE_VFF_EXTENDED 1
#define __USE_GNU 1
